<div class="flex-container"
    style="display: flex;flex-direction: row;font-size: 30px;gap:50px;text-align: center;padding: 0px 50px 0 50px; ">
    <div class="flex-item-left" style="padding: 10px; flex: 70%;">
        <h1 style="text-align: left;font-weight:bold ;">Giỏ hàng của bạn</h1>
        <p style="text-align: left;margin-bottom:20px; font-size: 20px; ">Tổng cộng 2
            (món đồ) 620,000₫</p>
        <div style="height: 250px; border: 1px solid #000; overflow: hidden;margin-bottom:30px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lwjk8b58pejfe3.webp"
                        class="img-fluid " alt="..." style="height: 100%; width: auto; object-fit: cover;">
                </div>
                <div class="col-md-8" style="">
                    <div class="card-body don-hang"
                        style="height: 250px; padding: 20px; position: relative;background-color:white">
                        <div style="position: absolute; right: 16px; top: 12px; cursor: pointer;">
                            <img src="https://img.icons8.com/ios-filled/50/000000/delete-sign.png" alt="Close" id="statusButton" data-bs-toggle="modal" data-bs-target="#xoaModal"
                                style="width: 20px; height: 20px;">
                                 <div class="modal fade" id="xoaModal" tabindex="-1" aria-labelledby="xoaModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content"
                                        style="position:relative; display: flex; align-items: center; justify-content: center;">
                                        <span class="closex"
                                            style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">
                                            &times;
                                        </span>
                                        <form id="changePasswordForm" method="post"
                                            style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                                            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">Bạn có
                                                chắc là muốn xóa sản phẩm này?</h1>
                                            <input style="display: none;" name="sanpham" value="sanpham2"></p>
                                            <div style="display:flex;justify-content:space-between;gap:10px;padding:0 20px 0 20px">
                                                <button type="button" class="button-27 closex"
                                                    style="margin-top: 15px; background-color: #000000; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Hủy
                                                </button>
                                                <button type="submit" class="button-27"
                                                    style="margin-top: 15px; background-color: #fd1818; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-weight:bold;padding-right: 25px;">
                            Áo Sơ mi tay ngắn Classic Casual vải Oxford 1 túi - Olderister
                        </p>
                        <p style="">Size: L</p>
                        <p style="margin-top: -5px; color: red; font-weight: 600; ">
                            320,000₫</p>
                        <select class="form-select" id="so-luong" name="sellist1" disabled
                            style="width: 100px; height: 40px; border: 1px solid #000000; font-size: 16px; border-radius: 0;margin-top:30px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div style="height: 250px; border: 1px solid #000; overflow: hidden;;margin-bottom:30px">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-ly34bo078xjtc5@resize_w450_nl.webp"
                        class="img-fluid " alt="..." style="height: 100%; width: auto; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body don-hang"
                        style="height: 250px; padding: 20px; position: relative;background-color:white">
                        <div style="position: absolute; right: 16px; top: 12px; cursor: pointer;">
                            <img src="https://img.icons8.com/ios-filled/50/000000/delete-sign.png" alt="Close" id="statusButton" data-bs-toggle="modal" data-bs-target="#xoaModal"
                                style="width: 20px; height: 20px;">
                                 <div class="modal fade" id="xoaModal" tabindex="-1" aria-labelledby="xoaModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content"
                                        style="position:relative; display: flex; align-items: center; justify-content: center;">
                                        <span class="closex"
                                            style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">
                                            &times;
                                        </span>
                                        <form id="changePasswordForm" method="post"
                                            style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                                            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">Bạn có
                                                chắc là muốn xóa sản phẩm này?</h1>
                                            <input style="display: none;" name="sanpham" value="sanpham2"></p>
                                            <div style="display:flex;justify-content:space-between;gap:10px;padding:0 20px 0 20px">
                                                <button type="button" class="button-27 closex"
                                                    style="margin-top: 15px; background-color: #000000; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Hủy
                                                </button>
                                                <button type="submit" class="button-27"
                                                    style="margin-top: 15px; background-color: #fd1818; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-weight:bold;padding-right: 25px;">
                            Áo sơ mi SilenceStandard Eco Denim/ Blank
                        </p>
                        <p style="">Size: M</p>
                        <p style="margin-top: -5px; color: red; font-weight: 600; ">
                            300,000₫</p>
                        <select class="form-select" id="so-luong" name="sellist1" disabled
                            style="width: 100px; height: 40px; border: 1px solid #000000; font-size: 16px; border-radius: 0;margin-top:30px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="flex-item-right" style="padding: 10px;flex: 30%;">

        <h1 style="text-align: left;font-weight:bold ;font-size:22px;margin-top:103px">Tóm Tắt Đơn Hàng
            <span style="display: block; border-bottom: 2px solid rgb(0, 0, 0); margin-top: 5px;"></span>
        </h1>
        <div style="margin:30px 0 20px 0">
            <div style="display:flex;justify-content:space-between">
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; ">2 sản phẩm</p>
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; ">620.000d</p>
            </div>
            <div style="display:flex;justify-content:space-between">
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; ">Giao hàng</p>
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; ">Miễn phí</p>
            </div>

            <div style="display:flex;justify-content:space-between">
                <p style="text-align: left;margin-bottom:5px;margin-top:15px; font-size: 17px;font-weight:bold; ">Tổng
                </p>
                <p style="text-align: left;margin-bottom:5px;margin-top:15px; font-size: 17px;font-weight:bold; ">
                    2.000.000d</p>
            </div>

        </div>
        
        <button class="button-27 "
            style="margin-top: 40px; display: flex; align-items: center; justify-content: center;margin-top: 70px"
            role="button"><a href="/account/checkout">
                <i class="bi bi-credit-card" style="margin-right: 8px; font-size: 20px;"></i>Thanh toán</a>
        </button>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const closeButtons = document.getElementsByClassName('closex');
        Array.from(closeButtons).forEach(function (closeButton) {
            closeButton.onclick = function () {
                $('#xoaModal').modal('hide');
            }
        });
    });
</script>