<div class="flex-container"
    style="display: flex;flex-direction: row;font-size: 30px;gap:50px;text-align: center;padding: 20px 50px 0 50px; ">
    <div class="flex-item-left" style="padding: 10px; flex: 70%;">
        <h1 style="text-align: left;font-weight:bold ;font-family: 'Arial', sans-serif;">Giỏ hàng của bạn</h1>
        <p style="text-align: left;margin-bottom:20px; font-size: 20px; font-family: 'Arial', sans-serif;">Tổng cộng 0
            (món đồ) 0d</p>
        <div style="height: 250px; border: 1px solid #000; overflow: hidden;margin-bottom:30px">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/7b924462f4f145729864be270dd74875_9366/IP1746_185_IP1746_HM1.jpg.jpg?sh=364&strip=false&sw=364"
                        class="img-fluid " alt="..." style="height: 100%; width: auto; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body don-hang" style="height: 250px; padding: 20px; position: relative;">
                        <div style="position: absolute; right: 16px; top: 12px; cursor: pointer;">
                            <img src="https://img.icons8.com/ios-filled/50/000000/delete-sign.png" alt="Close"
                                style="width: 20px; height: 20px;">
                        </div>
                        <p
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-family: 'Arial', sans-serif;font-weight:bold;padding-right: 25px;">
                            MANCHESTER UNITED 23/24 LFSTLR JERSEY Cloud White aaaaaaaaaaaaaaaaaaaaaaa asdasdasd asd asd
                            asd asdas
                        </p>
                        <p style="font-family: 'Arial', sans-serif;">Size: XS</p>
                        <p style="margin-top: -5px; color: red; font-weight: 600; font-family: 'Arial', sans-serif;">
                            1,500,000₫</p>
                        <select class="form-select" id="so-luong" name="sellist1"
                            style="width: 100px; height: 40px; border: 1px solid #000000; font-size: 16px; border-radius: 0;margin-top:30px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div style="height: 250px; border: 1px solid #000; overflow: hidden;;margin-bottom:30px">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/7b924462f4f145729864be270dd74875_9366/IP1746_185_IP1746_HM1.jpg.jpg?sh=364&strip=false&sw=364"
                        class="img-fluid " alt="..." style="height: 100%; width: auto; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body don-hang" style="height: 250px; padding: 20px; position: relative;">
                        <div style="position: absolute; right: 16px; top: 12px; cursor: pointer;">
                            <img src="https://img.icons8.com/ios-filled/50/000000/delete-sign.png" alt="Close"
                                style="width: 20px; height: 20px;">
                        </div>
                        <p
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-family: 'Arial', sans-serif;font-weight:bold;padding-right: 25px;">
                            MANCHESTER UNITED 23/24 asd asdas
                        </p>
                        <p style="font-family: 'Arial', sans-serif;">Size: XS</p>
                        <p style="margin-top: -5px; color: red; font-weight: 600; font-family: 'Arial', sans-serif;">
                            1,500,000₫</p>
                        <select class="form-select" id="so-luong" name="sellist1"
                            style="width: 100px; height: 40px; border: 1px solid #000000; font-size: 16px; border-radius: 0;margin-top:30px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="flex-item-right" style="padding: 10px;flex: 30%;">
        
        <h1 style="text-align: left;font-weight:bold ;font-family: 'Arial', sans-serif;font-size:22px;margin-top:103px">Tóm Tắt Đơn Hàng</h1>
        <div style="margin:30px 0 20px 0">
            <div style="display:flex;justify-content:space-between">
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; font-family: 'Arial', sans-serif;">2 sản phẩm</p>
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; font-family: 'Arial', sans-serif;">2.000.000d</p>
            </div>
            <div style="display:flex;justify-content:space-between">
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; font-family: 'Arial', sans-serif;">Giao hàng</p>
                <p style="text-align: left;margin-bottom:5px; font-size: 17px; font-family: 'Arial', sans-serif;">Miễn phí</p>
            </div>
            
             <div style="display:flex;justify-content:space-between">
                <p style="text-align: left;margin-bottom:5px;margin-top:15px; font-size: 17px;font-weight:bold; font-family: 'Arial', sans-serif;">Tổng</p>
                <p style="text-align: left;margin-bottom:5px;margin-top:15px; font-size: 17px;font-weight:bold; font-family: 'Arial', sans-serif;">2.000.000d</p>
            </div>
            
        </div>
        <button class="button-27" style="margin-top: 70px;" role="button">Thanh toán</button>
    </div>
</div>