<div>
    <h1 style="text-align: center;margin-top:10px;font-family: 'Roboto Condensed', sans-serif, Arial, sans-serif; color: #333;">
        HOT NHẤT</h1>
</div>
<div>
    <div class="grid-container" style="display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;">
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <!-- Add more items as needed -->
    </div>


</div>

<hr style="margin: 40px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #696969;">

<div>
    <h1 style="text-align: center;;font-family: 'Roboto Condensed', sans-serif, Arial, sans-serif; color: #333;">Bán chạy nhất</h1>
</div>
<div>
    <div class="grid-container" style="display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;">
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="">
            <div class="card" style="width: auto;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="...">
                <div style="margin-top:10px">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">
                    <img
                        src="https://4menshop.com/cache/image/63/images/thumbs/2024/10/quan-tay-sidetab-1-ben-form-regular-qt062-18784.jpg">

                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">
                        425.000 ₫</p>
                </div>
            </div>
        </a>
        <!-- Add more items as needed -->
    </div>


</div>