<div>
    <h1
        style="text-align: center;margin-top:10px;font-family: 'Roboto Condensed', sans-serif, Arial, sans-serif; color: #333;">
        HOT NHẤT</h1>
</div>
<div>
    <div class="grid-container" style="display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;">
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <!-- Add more items as needed -->
    </div>


</div>

<hr style="margin: 40px 0;
    width: 99vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #696969;">

<div>
    <h1 style="text-align: center;;font-family: 'Roboto Condensed', sans-serif, Arial, sans-serif; color: #333;">Quần áo
        nam</h1>
</div>
<div>
    <div class="grid-container" style="display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;">
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/10/ao-so-mi-tay-ngan-2-tui-theu-4m-form-regular-sm164-18795-slide-products-6708f848057e1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>

        <!-- Add more items as needed -->
    </div>


</div>
<hr style="margin: 40px 0;
    width: 99vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #696969;">

<div>
    <h1 style="text-align: center;;font-family: 'Roboto Condensed', sans-serif, Arial, sans-serif; color: #333;">Quần áo
        nữ</h1>
</div>
<div>
    <div class="grid-container" style="display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;">
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/10/ao-so-mi-tay-ngan-2-tui-theu-4m-form-regular-sm164-18795-slide-products-6708f848057e1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>
        <a class="grid-item" href="/product/one">
            <div class="card" style="width: auto; position: relative;">
                <img src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png"
                    class="card-img-top" alt="..."
                    data-original-src="https://4menshop.com/cache/image/300x400/images/thumbs/2022/06/ao-so-mi-regular-mr-friendly-asm092_2_small-16907.png">
                <i class="bi bi-cart4 cart-icon" style="display: none;"></i>
                <div style="margin-top:10px">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-trang-kem-18720-slide-products-66f526dfea2d1.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-bien-18722-slide-products-66f527ce14af8.jpg"
                        class="small-img">
                    <img src="https://4menshop.com/images/thumbs/2024/09/ao-so-mi-vai-oxford-tron-signature-form-regular-sm157-mau-xanh-den-18723-slide-products-66f5286c8b689.jpg"
                        class="small-img">
                </div>
                <div class="card-body">
                    <p class="card-text">Quần Tây Sidetab 1 Bên Form Regular QT062 Màu Be</p>
                    <p class="card-text" style="color:red">425.000 ₫</p>
                </div>
            </div>
        </a>

        <!-- Add more items as needed -->
    </div>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Select all card elements
        const cards = document.querySelectorAll('.card');

        cards.forEach(card => {
            const mainImage = card.querySelector('.card-img-top'); // Select the main image for this card
            const smallImages = card.querySelectorAll('.small-img'); // Select small images for this card
            const cartIcon = card.querySelector('.cart-icon'); // Select the cart icon for this card

            // Change the main image when hovering over small images
            smallImages.forEach(image => {
                image.addEventListener('mouseover', function () {
                    mainImage.src = this.src; // Change the main image to the hovered small image
                });

                image.addEventListener('mouseleave', function () {
                    mainImage.src = mainImage.getAttribute('data-original-src'); // Reset to the original image from data attribute
                });
            });

            // Show and hide the cart icon on main image hover
            mainImage.addEventListener('mouseover', function () {
                cartIcon.style.display = 'block'; // Show the icon
                setTimeout(() => {
                    cartIcon.style.opacity = 1; // Fade-in effect
                }, 10); // Small timeout for the transition to take effect
            });

            mainImage.addEventListener('mouseout', function () {
                cartIcon.style.opacity = 0; // Fade-out effect
                setTimeout(() => {
                    cartIcon.style.display = 'none'; // Hide the icon after fading out
                }, 200); // Matches the CSS transition duration
            });

        });
    });

</script>